<div class="container">
  <h1>Trang chi tiết sản phẩm</h1>
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">ID</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput"
      disabled
      placeholder="1"
    />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Tên sản phẩm</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput2"
      disabled
      placeholder="Tên sản phẩm ở đây"
    />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Giá</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput2"
      disabled
      placeholder="Nhập giá vào đây"
    />
  </div>
  <a href="./DanhSachSanPham.html"
    ><button type="button" class="mt-3 btn btn-primary">Quay lại</button></a
  >
</div>
