<div class="container">
  <h1>Trang sửa sản phẩm</h1>
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">ID</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput"
      disabled
      ng-model="editItem.id"
    />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Tên sản phẩm</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput2"
      ng-model="editItem.name"
    />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Giá</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput2"
      ng-model="editItem.price"
    />
  </div>
  <label for="">Chọn loại</label>
  <select
    class="form-select"
    aria-label="Default select example"
    ng-model="editItem.type"
  >
    <option value="Loại 1">Loại 1</option>
    <option value="Loại 2">Loại 2</option>
    <option value="Loại 3">Loại 3</option>
  </select>
  <button type="button" class="mt-3 btn btn-primary" ng-click="onEdit()">
    Sửa
  </button>
</div>
