<div class="container">
  <h1>Trang thêm sản phẩm</h1>
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Tên sản phẩm</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput"
      placeholder="Tên sản phẩm ở đây"
      ng-model="addItem.name"
    />
    <p ng-if="kiemTraDuLieu.tenSanPham == true" style="color: red">
      Bạn phải nhập tên sản phẩm
    </p>
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Giá</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput2"
      placeholder="Nhập giá sản phẩm vào đây"
      ng-model="addItem.price"
    />
    <p ng-if="kiemTraDuLieu.giaSanPham == true" style="color: red">
      Bạn phải nhập giá sản phẩm
    </p>
    <p ng-if="kiemTraDuLieu.giaToiThieu == true" style="color: red">
      Giá bạn nhập phải lớn hơn 0
    </p>
    <label for="">Chọn loại</label>
    <select
      class="form-select"
      aria-label="Default select example"
      ng-model="addItem.type"
    >
      <option value="Loại 1">Loại 1</option>
      <option value="Loại 2">Loại 2</option>
      <option value="Loại 3">Loại 3</option>
    </select>
    <button type="button" class="mt-3 btn btn-primary" ng-click="onAdd()">
      Thêm mới
    </button>
  </div>
</div>
