<div class="container">
  <h1>Trang thêm sản phẩm</h1>
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Tên sản phẩm</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput"
      placeholder="Tên sản phẩm ở đây"
      ng-model="addItem.name"
    />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Giá</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput2"
      placeholder="Nhập giá sản phẩm vào đây"
      ng-model="addItem.price"
    />
    <button type="button" class="mt-3 btn btn-primary" ng-click="onAdd()">
      Thêm mới
    </button>
  </div>
</div>
